Repository mysofinance/v1-core-protocol: changes, and which lint-staged commands are due for each by the changed paths.
All: solhint, prettier --config .prettierrc --write

.lintstagedrc:

{
  "*.sol": ["solhint", "prettier --config .prettierrc --write"],
  "*.{js, ts}": ["prettier --config .prettierrc --write"]
}

update solhint rule
  .solhint.json
Due: none

add github actions
  .github/actions/npm-install/action.yml
  .github/branch.yaml
  .github/workflows/workflow-slither.yaml
  .github/workflows/workflow-test.yaml
  .lintstagedrc
  .solhintignore
Due: none

move workflow
  .github/workflows/branch.yaml
Due: none

update permissions
  .github/workflows/branch.yaml
Due: none

add alchemy key
  .github/workflows/branch.yaml
  .github/workflows/workflow-test.yaml
  hardhat.config.js
Due: prettier --config .prettierrc --write

fix workflow test
  .github/workflows/workflow-test.yaml
Due: none

update branch.yaml
  .github/workflows/branch.yaml
Due: none

update workflow-test
  .github/workflows/workflow-test.yaml
Due: none

remove main from github actions
  .github/workflows/branch.yaml
Due: none

update .prettierrc
  .prettierrc
  contracts/BasePool.sol
  contracts/pools/paxg-usdc/PoolPaxgUsdc.sol
  contracts/pools/usdc-weth/PoolUsdcWeth.sol
  contracts/pools/weth-cusdc/PoolWethCusdc.sol
  contracts/pools/weth-dai/PoolWethDai.sol
  contracts/pools/weth-usdc/PoolWethUsdc.sol
  contracts/test/AddLiquidityAndBorrow.sol
  contracts/test/Borrow.sol
  contracts/test/ConstructorTest.sol
  contracts/test/PeripheralTest.sol
  test/constructor-testing.js
  test/creator-testing.js
  test/paxg-usdc-testing.js
  test/peripheral-testing.js
  test/usdc-weth-testing.js
  test/weth-cusdc-testing.js
  test/weth-dai-testing.js
  test/weth-usdc-testing.js
Due: solhint, prettier --config .prettierrc --write

add zksync setup
  .gitignore
  contracts/assets/usdc.sol
  contracts/assets/weth.sol
  contracts/pools/weth-usdc/PoolWethUsdc.sol
  hardhat.config.js
  old.hardhat.config.js
  package-lock.json
  package.json
  scripts/0_usdc.js
  scripts/0_weth.js
  scripts/2_deploy_weth_usdc_zksync.js
Due: solhint, prettier --config .prettierrc --write

deploy 1.1 version
  contracts/test/TestPoolWethUsdc_v_1_1.sol
  hardhat.config.js
  package-lock.json
  package.json
  scripts/2_deploy_weth_usdc_zksync.js
Due: solhint, prettier --config .prettierrc --write

added 90d gohm-dai pool, and example script
  hardhat.config.js
  scripts/9_deploy_gohm_dai_pilot_v_1_1.js
  scripts/9_deploy_gohm_dai_pilot_v_1_1_arguments.js
  test/olympus-dao/olympus-dao-pool-examples.js
Due: prettier --config .prettierrc --write

added update loan terms example to olympus dao script
  test/olympus-dao/olympus-dao-pool-examples.js
Due: prettier --config .prettierrc --write

added gohm/dai update loan terms example
  test/olympus-dao/olympus-dao-pool-examples.js
Due: prettier --config .prettierrc --write

added poc scenario
  test/rpl-reth/rpl-reth-example.js
Due: prettier --config .prettierrc --write

fixed typo
  test/rpl-reth/rpl-reth-example.js
Due: prettier --config .prettierrc --write
